<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title><%- title%></title>  
    <link rel="stylesheet" href="/stylesheets/css/pintuer.css">
    <link rel="stylesheet" href="/stylesheets/css/admin.css">
    <script src="/javascripts/js/jquery.js"></script>
    <script src="/javascripts/js/pintuer.js"></script>  
</head>
<body>
<div class="bg"></div>
<div class="container">
    <div class="line bouncein">
        <div class="xs6 xm4 xs3-move xm4-move">
            <div style="height:150px;"></div>
            <div class="media media-y margin-big-bottom">           
            </div>         
            <form action="/users/submit" method="POST" id="form">
            <div class="panel loginbox">
                <div class="text-center margin-big padding-big-top"><h1>后台管理中心</h1></div>
                <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="text" class="input input-big" name="username" placeholder="登录账号" data-validate="required:请填写账号" />
                            <span class="icon icon-user margin-small"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input id="userpwd" type="password" class="input input-big" name="userpwd" placeholder="登录密码" data-validate="required:请填写密码" />
                            <span class="icon icon-key margin-small"></span>
                        </div>
                    </div>
                    <div class="form-group">
                            <div class="field field-icon-right">
                                    <input id="code" type="password" class="input input-big" name="code" placeholder="请再次输入密码" data-validate="required:请填写密码" />
                                    <span class="icon icon-key margin-small"></span>
                                </div>
                    </div>
                </div>
                <div style="padding:30px;"><input id="button" type="submit" class="button button-block bg-main text-big input-big" value="完成注册"></div>
                <div style="padding:30px;"><input type="button" class="button button-block bg-main text-big input-big" value="返回登录" onclick="window.location.href='/'"></div>
            </div>
            </form>          
        </div>
    </div>
</div>
    <script>
        $("#code").on("blur",function(){
            $("#code").css("border-color","#2c7");
        })
        $("#form").submit(function(){
            var value=$("#userpwd").val();
            console.log(value);
            var code=$("#code").val();
            console.log(code);
            if(value&&code){
                if(value==code){
                    return true;
                }else{     
                   
                    return false;
                    
                }
            }
        }
        )
            
          
        
    </script>
</body>
</html>